.gradient_cta {
    position: relative;
    min-height: 360px;
    display: flex;
    align-items: center;
    z-index: 0;
    isolation: isolate;
    &::before {
        position: absolute;
        content: "";
        background-image: url(../img/2024/banner-mask.png);
        background-size: cover;
        @media (min-width:992px) {
            background-size: contain;
        }
        background-repeat: no-repeat;
        background-position: center left;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
    }


    &__image {
        z-index: -1;
        display: none;
        @media (min-width:992px) {
            position: absolute;
            display: block;
            max-width: 960px;
            inset: 0;
            margin-inline: auto;
            background-image: var(--bg-url);
            background-size: contain;
            background-position: left;
            background-repeat: no-repeat;
        }
        @media (min-width:1240px) {
            max-width: 1180px;
        }
    }

}
.gradient_cta.bg_grad--plain {
    &::before {
        background-image: url(../img/ps-logo-crop--45-top-right--yellow.svg);
    }
    .btn {
        @extend .btn-primary;
    }
}
