.stat_spinner {

    min-height: 280px;

    .container-xl {
        position: relative;
        height: 100%;
    }

    .stats {
        display: grid;
        gap: 1rem;
        @media (min-width:768px) {
            grid-template-columns: repeat(3,1fr);
        }
    }

    .stat {
        &__value {
            font-size: var(--fs-700);
            font-weight: var(--fw-900);
            color: var(--col-orange-400);
            margin-bottom: 0.5rem;
            .counter {
                display: inline-block;
            }
        }

        &__qualifier {
            font-size: (--fs-500);
            font-weight: var(--fw-900);
            margin-bottom: 0.5rem;
        }

        &__title {
            font-size: var(--fs-200);
        }
    }

}