.full_video,
.text_video {
    &__container {
        position: relative;
        z-index: inherit;
        .pointer {
            cursor: pointer;
        }
        .play {
            position: absolute;
            z-index: 10;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            pointer-events: none;
            font-size: 3rem;
            transition: all 0.3s ease;
            img {
                width:80px;
                height:80px;
            }
        }
        &:hover {
            .play {
                color: $secondary;
            }
        }


        .play span {
            width: 80px !important;
            height: 80px !important;
            background-image: url(../img/2024/icons/play-button.png) !important;
            background-size: contain !important;
            background-repeat: no-repeat !important;
            background-color: transparent !important;
            &::before {
                display: none;
            }
        }

        img {
            width: 100%;
            // aspect-ratio: 6/4;
            background-size: cover;
            background-position: center;
            box-shadow: var(--shadow-out);
            border-radius: 1rem;
            position: relative;
        }
    }
}