@import "hero_2024";
@import "case_study_quotes_2024";
@import "product_header_2024";
@import "top_tab_group_2024";
@import "side_tab_group_2024";
@import "case_user_combo_2024";
@import "contact_cards_2024";
@import "solutions_nav_2024";


.text_image_2024 iframe,
.vimeo-embed,
lite-vimeo {
    img {
        border-radius: 1rem;
        box-shadow: var(--shadow-out);
    }
    border-radius: 1rem;
    box-shadow: var(--shadow-out);   
    .ltv-playbtn {
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 80px !important;
        height: 80px !important;
        background-image: url(../img/2024/icons/play-button.png) !important;
        background-size: contain !important;
        background-repeat: no-repeat !important;
        background-color: transparent !important;
        pointer-events: none;
        &::before {
            display: none;
        }
    }
}

.logo__slider {

    .swiper-wrapper {
        margin-bottom: 2rem;
    }

    .logo__slide {
        // padding: 1rem;
        aspect-ratio: 1;
        border: 2px solid #C6D9DF;
        background-color: var(--col-white);
        border-radius: 0.75rem;
        display: grid;
        place-content: center;
    }

}

.swiper-pagination-bullet-active {
    background: var(--col-yellow-400);
}