.accreditation {
    text-align: center;
    a {
        color: var(--col-greyish);
        text-decoration: none;
        font-weight: var(--fw-400);
    }
    &__image {
        width: 100%;
        max-width: 300px;
        aspect-ratio: 16 / 9;
        margin: auto;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat
    }
    &__title {
        @extend .h4;
    }
}