@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes slideInLeft {
    from {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInLeft {
    from {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes slideInRight {
    from {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInRight {
    from {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3)
    }

    50% {
        opacity: 1
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3)
    }

    50% {
        opacity: 1
    }
}

.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    // -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    // animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.fadeIn {
    opacity: 0;
    /* make things invisible upon start */
    -webkit-animation: fadeIn 1s ease-in 0s 1 normal forwards;
    /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation: fadeIn 1s ease-in 0s 1 normal forwards;
    animation: fadeIn 1s ease-in 0s 1 normal forwards;
}

.slideInLeft {
    opacity: 0;
    animation: slideInLeft 1s ease-in 0s 1 normal forwards;
}
.slideInRight {
    opacity: 0;
    animation: slideInRight 1s ease-in 0s 1 normal forwards;
}


.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@media all and (min-width:992px) {
    .delay-1 {
        animation-delay: .1s;
    }
    .delay-2 {
        animation-delay: .2s;
    }
    .delay-3 {
        animation-delay: .3s;
    }
    .delay-4 {
        animation-delay: .4s;
    }
    .delay-8 {
        animation-delay: .8s;
    }
    .delay-1s {
        animation-delay: 1s;
    }
    .delay-2s {
        animation-delay: 2s;
    }
    .delay-3s {
        animation-delay: 3s;
    }
}