.caseStudy {
    &__single {
        // height: 100%;
        position: relative;
        border-radius: 0.25rem;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        transition: all 0.3s ease;
        &:hover {
            transform: translateY(-5px); // scale(1.02);
            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
            .caseStudy__desc {
                opacity: 1;
            }
        }
        a {
            text-decoration: none;
        }
    }
    &__desc {
        pointer-events: none;
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        opacity: 0;
        transition: opacity 0.3s ease;
        background-color: rgba(0,0,0,0.90);
        color: #fff;
        padding: 1rem;
    }
    &__image {
        aspect-ratio: 16 / 9;
        width: 100%;
        max-height: 205px;
        display: flex;
        justify-content: center;
        img {
            // max-height: 260px;
            max-height: 205px;
            width: auto;
        }
    }
    @supports not (aspect-ratio: 16 / 9) {
        .caseStudy__image img::before {
          float: left;
          padding-top: 56.25%;
          content: "";
        }
        .caseStudy__image img::after {
          display: block;
          content: "";
          clear: both;
        }
    }

    &__title {
        background-color: $ps-yellow;
        color: $black;
        padding: 1rem;
        font-weight: bold;
        min-height: 4.6rem;
    }
}