#knowledge {
    .h2__container::before {
        content: '';
        position: absolute;
        height: 1px;
        background: $ps-yellow;
        left: 16px;
        right: 0;
        top: 24px;
    }
    .h2__container {
        position: relative;
        display: flex;
        justify-content: space-between;
        .h2__link {
            font-size: 0.8rem;
            margin-top: 0.9rem;
            background-color: white;
            z-index: 99;
            padding-left: 0.5rem;
            &::after {
                content: " >";
            }
            a {
                color: $ps-navy;
                font-weight: 600;
            }
        }
    }
    h2 {
        position: relative;
        background-color: #fff;
        display: inline-block;
        padding-right: 0.5rem;
    }
    .latest .col-lg-3 h3{
        font-size: 1.1rem;
        min-height: 72px;
        margin-bottom: 0.5rem;
    }
    .latest .col-lg-6 h3 {
        font-size: 1.3rem;
    }
    .blogs h3,
    .guides h3,
    .whitepapers h3 {
        font-size: 1rem;
    }
    .latest a,
    .blogs a,
    .guides a,
    .whitepapers a {
        text-decoration: none;
        color: #000;
    }

    .latest__preview {
        position: relative;
    }
    .latest__container {
        background-color: #f6f6f6;
        height: 100%;
        transition: background-color 0.3s ease;
    }
    .blogs .col-lg-8 {
        background-color: #f6f6f6;
        transition: background-color 0.3s ease;
    }
    .latest a:hover .latest__container,
    .blogs a:hover .col-lg-8 {
        background-color: #eee;
    }

    .guides h3,
    .whitepapers h3 {
        padding: 1rem;
        background-color: #f6f6f6;
        transition: background-color 0.3s ease;
        min-height: 4.5rem;
    }
    .whitepapers h3 { 
        min-height: 4.5rem;
    }
    .guides a:hover h3,
    .whitepapers a:hover h3 {
        background-color: #eee;
    }
    .latest__image,
    .blogs__image {
        position: relative;
        aspect-ratio: 16/9;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .caseStudy__image {
        position: relative;
        aspect-ratio: 16/9;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 75%;
    }
    .flash {
        position: absolute;
        top: 0;
        left: 0;
        background-color: $ps-yellow;
        color: black;
        font-size: 0.8rem;
        font-weight: bold;
        padding: 2px 5px;
    }
    .latest__content {
        padding: 0.5rem;
        font-size: 0.9rem;
    }
}